body {
  font-family: "Helvetica Neue", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
  font-size: 14px;
  margin-top: .5em; 
  color: #666;
  text-align: left;
  
  background-color: #edf6e3;
  background-image: url(../images/1000_bg.jpg);
  background-position: top center;
  background-repeat: repeat-y;
  
  width: 900px;
  position: relative;
  margin: 0px auto 0px auto;
  padding: 0px 0px 0px 0px;
}
p {
  text-align: left;
  margin: 0px;
  padding: 0px;
}
h1, h2, h3 {
  font-family: "Helvetica Neue", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
  font-size: 14px; 
  color: #666;
  font-weight: bold;
  
  text-align: left;
  margin: 0px;
  padding: 0px;
}

a:link,
a:active,
a:visited {
  text-decoration: none;
  color: #7fc937;
  }
a:hover {
  text-decoration: underline;
  color: #7fc937;
}

acronym {
  font-weight: normal;
  font-style: normal;
  border: 0;
}


#header {
  width: 900px;
  margin: 0;
  padding: 0;
}

#controllerViewContent {
  width: 600px;
  margin: 0px 0px 0px 0px;
  padding: 0px 10px 0px 10px;
}



/* minor divs */
#pageHeader {
   width: 900px;
   height: 20px; /* strange but ie6 needs this */
   background-image: url(../images/leaf_900.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  border-top: 0px;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  border-left: 1px solid #aaa;
  margin: 0px 0px 0px 0px;
  padding: 100px 0px 0px 0px;
}

#pageHeader h1 {
   width: 600px;
  color: #fff;
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  margin: -30px 0px 0px 10px;
  padding: 0px 0px 0px 0px;
}

#pageHeader h2 {
   width: 600px;
  color: #fff;
  font-size: 13px;
  line-height: 16px;
  font-weight: normal;
  padding: 0px 0px 0px 3px;
  text-transform: uppercase;
  margin: 0px 0px 0px 10px;
  padding: 0px 0px 10px 4px;
  }

#infoBox {
   width: 600px;
   background-image: url(../images/content_header.jpg);
  background-position: top center;
  background-repeat: repeat;
  background-color: #284C00;
  border: 1px solid #aaa;
  margin: 10px 0px 10px 0px;
  padding: 10px 10px 10px 10px;
}
#infoBox .p1 {
  color: #fff ! important;
  text-transform: uppercase;
  text-align: left;
  margin: 0px 50px 0px 0px;
  padding: 0px 0px 10px 0px;
}
#infoBox .p2 {
  color: #fff ! important;
  font-weight: normal;
  text-transform: uppercase;
  text-align: left;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}


.contentBox {
   width: 600px;
  border: 1px solid #aaa;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-color: #fff;
  margin: 10px -10px 0px -10px;
  padding: 10px 10px 20px 10px;
  }
.contentBox h3 {
  color: #284C00;
  background-color: #ddd;
  background-image: url(../images/stone_21.gif);
  background-position: bottom center;
  background-repeat: repeat;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  margin: -10px -10px 4px -10px;
  padding: 4px 4px 4px 10px;
}
.contentBox h3 a {
  font-size: 11px;
  color: #67a12e;
}


/* Lists */
.contentBox ol {
    list-style: decimal;
    margin-top:0;
    margin-bottom:0;
    margin-left: 1em;
    padding-left: 1em;
    text-indent: -0.25em;
}

.contentBox ul {
	list-style: none;
	margin-top:0;
    margin-bottom:0;
	margin-left: 0.5em;
	padding-left: 1em;
    text-indent: -1em;
}
.contentBox ul li:before {
    content: "\00BB \0020";
}


#footer {
  width: 600px;
  border: 1px solid #aaa;
  background-image: url(stone_19.gif);
  background-position: center center;
  background-repeat: repeat;
  background-color: #284C00;
  margin: 10px -10px 20px -10px;
  padding: 10px 10px 10px 10px;
  text-align: center;
}


/* Right content */
#contentRight {
  position: absolute;
  top: 132px;
  left: 0px;
   width: 272px;
  margin: 0px 0px 0px 630px;
  padding: 0px 0px 0px 0px;
}

#contentRight ul {
  border-top: 1px dotted #ccc;
  margin: 5px 5px 0px 5px;
  padding: 0px 0px 0px 0px;
}

#contentRight li {
  display: block;
  list-style-type: none;
  color: #6c9e2d;
  background-color: #f8f8f8;
  text-align: left;
  border-bottom: 1px dotted #ccc;
  margin: 0px 0px 0px 0px;
  padding: 3px 5px 3px 5px;
  }

.normal {
    font-style: normal !important;
}

/* italic links*/
.italic {
  color: #6c9e2d ! important;
  font-weight: normal ! important;
  font-style: italic ! important;
  margin: 0px 0px 0px 0px;
  padding: 0px 14px 0px 0px;
  }

#contentRight h3 {
  color: #7fc937;
  background-color: #ddd;
  background-image: url(../images/content_header.jpg);
  background-position: center right;
  background-repeat: repeat-x;
  
  border-bottom: 1px solid #aaa;
  margin: 0px 0px 0px 0px;
  padding: 3px 5px 3px 5px;
}
#contentRight li:hover {
  background-color: #fefefe;
}


.boxRight {
  background-position: bottom center;
  background-repeat: no-repeat;
  background-color: #fff;
  border: 1px solid #aaa;
  margin: 0px 0px 10px 0px;
  padding: 0px 0px 35px 0px;
}


/* File manager */
.fileBox {
    float: left;
    border: 1px dotted #888;
    height:180px;
    padding: 0.5em;
    margin: 0.25em;
}

/* Scriptaculous ajax search select indicator */
.selectme {
    font-size: 18px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee; 
}
.selected {
  color: #eee;
  background-color: #7fc937;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee; 
  opacity: 1.0;
}
.selected a {
	color: #fff;
	text-shadow: black 0.1em 0.1em 0.2em
}
#ajax_search_result_box {
	border: 1px solid #aaa;
	opacity: 0.85;
	background-color: #fff;
}
#ajax_search_result_box ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#ajax_search_result_box li {
    list-style-type: none;
    margin: 0;
    padding: 0 1em;
}