<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration>

    <appender name="WIKI_LOG" class="org.apache.log4j.RollingFileAppender">
       <param name="File" value="/Users/amusial/tomcat/logs/wikishare.log"/>
           <param name="Append" value="true"/>
           <param name="ImmediateFlush" value="true"/>
           <param name="MaxFileSize" value="100MB"/>
           <layout class="org.apache.log4j.PatternLayout">
               <param name="ConversionPattern"
                   value="%d %-5p %-3x %30.30c{1} - %m%n"/>
           </layout>
    </appender>

    <category name="com.amb" additivity="false">
        <priority value="debug"/>
        <appender-ref ref="WIKI_LOG"/>
    </category>

    <category name="org.apache" additivity="false">
        <priority value="info"/>
        <appender-ref ref="WIKI_LOG"/>
    </category>

    <category name="org.springframework" additivity="false">
        <priority value="info"/>
        <appender-ref ref="WIKI_LOG"/>
    </category>

    <category name="org.hibernate" additivity="false">
        <priority value="error"/>
        <appender-ref ref="WIKI_LOG"/>
    </category>

    <root>
        <priority value="info"/>
        <appender-ref ref="WIKI_LOG"/>
    </root>

</log4j:configuration>