<?xml version="1.0" encoding="UTF-8"?>

<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<context-param> 
	    <description>Wiki mapping prefix.</description> 
	    <param-name>webappPrefix</param-name> 
	    <param-value>/wiki/</param-value> 
	</context-param>
	

	<filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>com.amb.wikishare.filter.AuthenticationFilter</filter-class>
        <init-param>
			<param-name>loginPage</param-name>
			<param-value>/wiki/login</param-value>
        </init-param>
        <init-param>
			<param-name>rootname</param-name>
			<param-value>root</param-value>
        </init-param>
        <init-param>
			<param-name>password</param-name>
			<param-value>test</param-value>
        </init-param>
        <init-param>
			<param-name>db_driver</param-name>
			<param-value>org.hsqldb.jdbcDriver</param-value>
        </init-param>
        <init-param>
			<param-name>db_server</param-name>
			<param-value>jdbc:hsqldb:hsql://localhost/wikishare</param-value>
        </init-param>
        <init-param>
			<param-name>db_user</param-name>
			<param-value>sa</param-value>
        </init-param>
        <init-param>
			<param-name>db_password</param-name>
			<param-value></param-value>
        </init-param>
        <init-param>
        	<param-name>pass_url</param-name>
        	<param-value>(/WikiShare/public/wiki/css/[a-zA-Z1-9]*.css|/WikiShare/wiki/frontpage|/WikiShare/wiki/login)</param-value>
        </init-param>
    </filter>
    
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
 

	<servlet>
		<servlet-name>WikiShare</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>WikiShare</servlet-name>
		<url-pattern>/wiki/*</url-pattern>
	</servlet-mapping>


	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>


    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/WikiShare/public/global/error500.jsp</location>
    </error-page>
    <error-page>
        <error-code>401</error-code>
        <!--location>/public/global/error401.jsp</location-->
        <location>/public/global/error401.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <!-- location>/public/global/error403.jsp</location-->
        <location>/public/global/error403.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/public/global/error404.jsp</location>
    </error-page>

	<jsp-config>
		<taglib>
			<taglib-uri>/spring</taglib-uri>
			<taglib-location>
				/WEB-INF/tld/spring-form.tld
			</taglib-location>
		</taglib>
	</jsp-config>

</web-app>